.contendor-404 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #000;
    margin: 0 auto 0px auto;
}

.error-page p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    margin: 60px auto 0 auto;

}

.img-content {
    display: flex;
    margin: 60px auto 0 auto;

}

.btn-404 {
    margin-top: 5rem;
}