<div class='contendor-404'> 
    <div class="error-page">
        <p> La url requerida no está disponible. <br/> </p>
    </div>

    <div class="img-content">
        <img src="https://sitechecker.pro/wp-content/uploads/2017/12/404.png" width="700px" alt="Error 404">
    </div>

    <div class="btn-404">
        <a href="http://localhost:4200/home">
            <button type="submit" class="btn btn-success" >Volver al inicio</button>
        </a>
        
    </div>
</div>