/* FUENTES*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@500&family=Roboto:ital,wght@1,300&display=swap');


h2 {
    font-family: 'Roboto', sans-serif;
    margin-left: 40%;
    margin-top: 2rem;
}

.card-title{
    font-family: 'Noto Sans SC', sans-serif;
}

#img-prod {
    transition: width 1s, height 1s, transform 1s;
    overflow: hidden;
    display: flex;
}

#img-prod:hover {
    transition: ease all 1.3s;
    transform: scale(0.8);
}
    

.contenedor-detalles {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    margin-top: 5rem;
}

.btn,
.btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}