@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    margin: 50px 0;
    font-family: 'Lexend Deca', sans-serif;

}
.contenedor-productos {
    display: flex;
    justify-content: left;
    align-items: left;
    padding: 0 120px;
}

.botones-productos a {
    margin-left: 10px;
}

.img-prod {
    overflow:hidden;
}

.img-prod img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%; 
}

.img-prod img:hover {
    transition: ease all 1.3s;
    transform: scale(0.8);
}