* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --fondoPrincipal: #f86624;
    --letraColor: #f7f7ff
}
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@700&display=swap');

#header {
    width: 100%;
    background-color: #f86624;
}

html {
    scroll-behavior: smooth;
  }

.header-content {
    width: 90%;
    color: #f7f7ff
}

.logo {
    font-size: 3rem;
    font-family: 'Poiret One', cursive;
    user-select: none;
    margin-left: 70px;
    color: var(--letraColor);
}

.nav-menu ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: center;
    justify-content: flex-end;  
    align-items: center;
    margin-top: 10px;
}

.nav-menu a {
    display: inherit;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 40px;
    text-decoration: none;
    color: #f7f7ff;
    transition: all 200ms;
}

.nav-menu ul li a:hover {
    color: #000;
}

.footer {
    background-color: var(--fondoPrincipal);
    color: var(--letraColor);
    font-size: 1.5rem;
    font-family: 'Gaegu', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div::selection {
    background-color: #FFF;
    color: red;
}

#main {
    min-height: 100vh;
}

.activado {
    color: #000 !important;
    border-bottom: 2px solid #000;
}